__pycache__/
.pytest_cache/
*.pyc
.venv/
venv/
.env

output.csv
claim-review-submission.zip
claim-review-code.zip

# Uncomment next line if you do NOT want to upload challenge dataset
# data/claims/

# HackerRank datasets
dataset/
data/claims/
output.csv
